.login {
  background-color: #e2e2e2;
  border: none;
  color: black;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 105px;
}

.login:hover {
  background-color: black;
  color: white;
}
