.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  width: 600px;
  padding: 20px;
  margin: auto;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.button {
  padding: 15px 32px;
  color: white;
  font-size: 16px;
  border: none;
  width: 150px;
  cursor: pointer;
}
.button_inc {
  background-color: #4caf50;
}
 
.button_dec {
  background-color: #f44336;
}
.button_info {
  background-color: #e7e7e7;
  color: black;
}
 
.action_section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
input {
  width: 60px;
  padding: 15px 10px;
  text-align: center;
}
 
.logs {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logs_container {
  margin-top: 10px;
  border: 2px solid grey;
  padding: 10px;
  width: fit-content;
}
 
.warning_container {
  height: 30px;
}
.warning {
  color: #d8000c;
  background-color: #ffd2d2;
  text-align: center;
  font-weight: bold;
  animation: blinker 1s linear infinite;
  margin: 0px;
}
 
@keyframes blinker {
  50% {
    opacity: 0;
  }
}